@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
/* font-family: 'GFS Didot', serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'GFS Didot', serif;
}

.header{
    text-align: center;
    padding: 40px;
    background-color: #ffc0cb;
    color: #fff;
    text-transform: uppercase;
    user-select: none;
    border-bottom: 10px double #c97180;
}

.header h1{
    font-size: 60px;
    letter-spacing: 8px;
}

.header span{
    font-size: 70px;
    color: #fa94a5;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    background-color: #ffe2e7;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* breaks into two columns */
@media screen and (max-width: 800px) {
    .column{
        flex: 50%;
        max-width: 50%;
    }

    .header h1{
        font-size: 40px;
    }

    .header span{
        font-size: 50px;
    }
}

/* breaks into one column */
@media screen and (max-width:600px){
    .column{
        flex: 100%;
        max-width: 100%;
    }
    .header h1{
        font-size: 20px;
    }

    .header span{
        font-size: 30px;
    }
}